<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='favicon/favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='img/favicon.ico')}} /site.webmanifest">
    <link rel="mask-icon" href="{{url_for('static',filename='favicon/safari-pinned-tab.svg')}}" color="#5bbad5">
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon/favicon.ico')}}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{url_for('static',filename='favicon/browserconfig.xml')}}">
    <meta name="theme-color" content="#ffffff">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/swiper-bundle.min.css')}}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

    <title> Rahul's Portfolio </title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Rahul</a>

            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item ">
                        <a href="#home" class="nav__link">
                            <i class='bx bx-home'></i>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="#about" class="nav__link">
                            <i class='bx bx-user'></i>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class='bx bx-book'></i>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#work" class="nav__link">
                            <i class='bx bx-briefcase-alt-2'></i>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class='bx bx-message-square-dots'></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--=============== theme change button ===============-->
            <i class='bx bx-moon change-theme change-theme-button' id="theme-button"></i>

        </nav>
    </header>

    <!--=============== MAIN ===============-->
    <main class="main">
        <!--=============== HOME ===============-->
        <section class="home section" id="home">
            <div class="home__container container grid">
                <div class="home__data">
                    <span class="home__greeting">Hello, I'm</span>
                    <h1 class="home__name">Rahul Pal</h1>
                    <h3 class="home__education">Python Full Stack Developer & Data Scientist</h3>

                    <div class="home__button">
                        <a download="" href="{{url_for('static',filename='pdf/Rahul Pal Resume.pdf')}}" class="button button--ghost">
                            Download CV
                        </a>

                        <a href="#about" class="button">About</a>
                    </div>
                </div>

                <div class="home__handle">
                    <img src="{{url_for('static',filename='img/0892CB3C-09D5-4678-8EF3-1AD42F35342A_1_201_a-removebg-preview.png')}}" alt="" class="home__img">
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/rahul-pal-rjit/" target="_blank" class="home__social-link">
                        <i class='bx bxl-linkedin'></i>
                    </a>
                    <a href="https://github.com/RahulRjit" target="_blank" class="home__social-link">
                        <i class='bx bxl-github'></i>
                    </a>
                    <a href="https://www.instagram.com/i_rahul_pal/" target="_blank" class="home__social-link">
                        <i class='bx bxl-instagram'></i>
                    </a>
                </div>

                <a href="#about" class="home__scroll">
                    <i class='bx bx-mouse home__scroll-icon'></i>
                    <span class="home__scroll-name">Scroll Down</span>
                </a>
            </div>
        </section>

        <!--=============== ABOUT ===============-->
        <section class="about section" id="about">
            <span class="section__subtitle">My Intro</span>
            <h2 class="section__title">About Me</h2>

            <div class="about__container container grid">
                <img src="{{url_for('static',filename='img/6BC5B03A-DD92-46D1-8FE8-099CCE2F9B15_1_105_c.jpeg')}}" alt="" class="about__img">

                <div class="about__data">
                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bx-award about__icon'></i>
                            <h3 class="about__title">Experience</h3>
                            <span class="about__subtitle">6 Months Intern</span>
                        </div>
                        <div class="about__box">
                            <i class='bx bx-briefcase-alt about__icon'></i>
                            <h3 class="about__title">Completed</h3>
                            <span class="about__subtitle">25+ Projects</span>
                        </div>
                        <div class="about__box">
                            <i class='bx bx-support about__icon'></i>
                            <h3 class="about__title">Support</h3>
                            <span class="about__subtitle">Online 24/7</span>
                        </div>
                    </div>

                    <p class="about__description">
                        "I am a skilled data scientist and full-stack developer with expertise in Python Flask. My passion lies in turning data into actionable insights and crafting dynamic web solutions that seamlessly integrate data analytics and visualizations. With a client-centric approach, I aim to exceed your expectations and help you achieve your project goals.
                    </p>

                    <a href="#contact" class="button about__button-contact">Contact Me</a>
                </div>
            </div>
        </section>

        <!--=============== SKILLS ===============-->
        <section class="skills section" id="skills">
            <span class="section__subtitle">My Abilities</span>
            <h2 class="section__title">My Experience</h2>

            <div class="skills__container container grid">
                <div class="skills__content">
                    <h3 class="skills__title">Frontend Development</h3>

                    <div class="skills__box">
                        <div class="skills__group">
                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">HTML</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">CSS/SCSS</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">Javascript</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                        </div>
                        <div class="skills__group">
                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">Bootstrap</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">Git</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                </div>

                <div class="skills__content">
                    <h3 class="skills__title">Backend Development</h3>

                    <div class="skills__box">
                        <div class="skills__group">
                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">Flask</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">Python</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">MySQL</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                        </div>
                        
                                

                            <div class="skills__data">
                                <i class='bx bxs-badge-check'></i>

                                <div>
                                    <h3 class="skills__name">Mongo DB</h3>
                                    <span class="skills__level">Advanced</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="skills__content">
                        <h3 class="skills__title">Data Analysis</h3>
    
                        <div class="skills__box">
                            <div class="skills__group">
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">Pandas</h3>
                                        <span class="skills__level">Advanced</span>
                                    </div>
                                </div>
    
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">Numpy</h3>
                                        <span class="skills__level">Advanced</span>
                                    </div>
                                </div>
    
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">MySQL</h3>
                                        <span class="skills__level">Advanced</span>
                                    </div>
                                </div>
    
                            </div>
                            
                                    
    
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">Excel</h3>
                                        <span class="skills__level">Advanced</span>
                                    </div>
                                </div>
    
                            </div>
                        
                    </div>
                    <div class="skills__content">
                        <h3 class="skills__title">Data Science</h3>
    
                        <div class="skills__box">
                            <div class="skills__group">
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">Machine Learning</h3>
                                        <span class="skills__level">Advanced</span>
                                    </div>
                                </div>
    
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">Deep Learning</h3>
                                        <span class="skills__level">Intermediate</span>
                                    </div>
                                </div>
    
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">Natural language processing</h3>
                                        <span class="skills__level">Intermediate</span>
                                    </div>
                                </div>
    
                            </div>
                            
                                    
    
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check'></i>
    
                                    <div>
                                        <h3 class="skills__name">Artificial intelligence</h3>
                                        <span class="skills__level">Intermediate</span>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    
                </div>
            

                
        </section>

        <!--=============== SERVICES ===============-->
        <section class="services section">
            <span class="section__subtitle">My Services</span>
            <h2 class="section__title">What I Offer</h2>

            <div class="services__container container grid">
                <div class="services__card">
                    <div class="serv">
                        <h3 class="services__title">Web <br> Development</h3>

                        <span class="services__button">
                            See More <i class='bx bx-right-arrow services__icon'></i>
                        </span>
                    </div>


                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class='bx bx-x services__modal-close'></i>

                            <h3 class="services__modal-title">Web Development</h3>

                            <p class="services__modal-description">
                                I design and develop the Web Solution for consumer products with creative ability and
                                hands-on approach which stisfies the customers' and markets' needs and trends.
                            </p>

                            <ul class="services__modal-list">
                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        I develop the user interfaces.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        Web Page design and development.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        I create the Admin Pannels.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        I position your company brand.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                       I Create modern Web applications.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="services__card">
                    <h3 class="services__title">Ai/Ml <br> Models</h3>

                    <span class="services__button">
                        See More <i class='bx bx-right-arrow services__icon'></i>
                    </span>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class='bx bx-x services__modal-close'></i>

                            <h3 class="services__modal-title">Ai/Ml Models</h3>

                            <p class="services__modal-description">
                                I apply a creative, hands-on approach to design and develop AI/ML models for consumer products that are tailored to meet the ever-changing needs and trends of both customers and the market
                            </p>

                            <ul class="services__modal-list">
                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        AI/ML model designer for consumer products.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        Emphasize creativity and hands-on development.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        Focus on customer and market trends.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        Tailored solutions for product needs.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        Commitment to innovation and quality.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="services__card">
                    <h3 class="services__title">Data <br> Analysis</h3>

                    <span class="services__button">
                        See More <i class='bx bx-right-arrow services__icon'></i>
                    </span>

                    <div class="services__modal">
                        <div class="services__modal-content">
                            <i class='bx bx-x services__modal-close'></i>

                            <h3 class="services__modal-title">Data Analysis</h3>

                            <p class="services__modal-description">
                                I create data analysis solutions that cater to customer and market trends through a creative, hands-on approach
                            </p>

                            <ul class="services__modal-list">
                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        I craft data analysis solutions.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        I emphasize creativity and hands-on methodology.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        My focus is on meeting customer and market data needs and trends.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        I tailor solutions to adapt to evolving data requirements.
                                    </p>
                                </li>

                                <li class="services__modal-item">
                                    <i class='bx bx-check-circle'></i>
                                    <p class="services__modal-info">
                                        I'm committed to innovation in data analysis.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=============== WORK ===============-->
        <section class="work section" id="work">
            <span class="section__subtitle">My Portfolio</span>
            <h2 class="section__title">Recent Works</h2>

            <div class="work__filters">
                <span class="work__item active-work" data-filter='all'>All</span>
                <span class=" work__item" data-filter='.web'>Web</span>
                <span class=" work__item" data-filter='.movil'>App</span>
                <span class=" work__item" data-filter='.data'>Ai/Ml</span>
            </div>

            <div class="work__container container grid">
                <div class="work__card mix ">
                    <img src="{{url_for('static',filename='img/analyst-data.avif')}}" alt="" class="work__img">

                    <h3 class="work__title">Data Analysis</h3>

                    <a href="https://github.com/RahulRjit/Data-Analysis.git" class="work__button">
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    </a>
                </div>

                <div class="work__card mix data">
                    <img src="{{url_for('static',filename='img/aiii.avif')}}" alt="" class="work__img">

                    <h3 class="work__title">Ai</h3>

                    <a href="{{url_for('static',filename='pdf/Coffee Ai Project.pdf')}}" class="work__button">
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    </a>
                </div>

                <div class="work__card mix data">
                    <img src="{{url_for('static',filename='img/mll.jpeg')}}" alt="" class="work__img">

                    <h3 class="work__title">Machine Learning</h3>

                    <a href="https://github.com/RahulRjit/Machine-Learning.git" class="work__button">
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    </a>
                </div>

                <div class="work__card mix web">
                    <img src="{{url_for('static',filename='img/webb.jpeg')}}" alt="" class="work__img">

                    <h3 class="work__title">Web Development</h3>

                    <a href="https://github.com/RahulRjit/Heart.git" class="work__button">
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    </a>
                </div>

                <div class="work__card mix movil">
                    <img src="{{url_for('static',filename='img/flut.jpeg')}}" alt="" class="work__img">

                    <h3 class="work__title">App Development</h3>

                    <a href="#" class="work__button">
                        Demo <i class='bx bx-right-arrow work__icon'></i>
                    </a>
                </div>

            </div>
        </section>

        <!--=============== TESTIMONIALS ===============-->
        <section class="testimonial section">
            <span class="section__subtitle">My clients say</span>
            <h2 class="section__title">Testimonials</h2>

            <div class="testimonial__container container swiper">
                <div class="swiper-wrapper">
                    <div class="testimonial__card swiper-slide">
                        <img src="{{url_for('static',filename='img/client1.jpeg')}}" alt="" class="testimonial__img">

                        <h3 class="testimonial__name">Andrew Miller</h3>
                        <p class="testimonial__description">
                            Impressed by Rahul's work. Their data science and Python Flask skills shine. They transformed complex data into a sleek web app with insightful visualizations, exceeding our expectations.
                        </p>
                    </div>

                    <div class="testimonial__card swiper-slide">
                        <img src="{{url_for('static',filename='img/wclint.jpeg')}}" alt="" class="testimonial__img">

                        <h3 class="testimonial__name">Emily Johnson</h3>
                        <p class="testimonial__description">
                            Rahul seamlessly combines data science and web development. He delivered a polished web app with meaningful data visuals, impressing us with their collaborative approach
                        </p>
                    </div>

                    <div class="testimonial__card swiper-slide">
                        <img src="{{url_for('static',filename='img/client2.jpeg')}}" alt="" class="testimonial__img">

                        <h3 class="testimonial__name">Siddharth Jain</h3>
                        <p class="testimonial__description">
                            Rahul is a standout Python Flask developer. Their web app not only looks great but offers valuable data insights. Their commitment to understanding our needs and delivering aligned results is commendable. 
                        </p>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </section>

        <!--=============== CONTACT ===============-->
        <section class="contact section" id="contact">
            <sapn class="section__subtitle">Get in touch</sapn>
            <h3 class="section__title">Contact Me</h3>

            <div class="contact__container container grid">
                <div class="contact__content">
                    <h3 class="contact__title contact__title-info">Talk to me</h3>

                    <div class="contact__info">
                        <div class="contact__card">
                            <i class='bx bx-mail-send contact__card-icon'></i>
                            <h3 class="contact__card-title">Email</h3>
                            <span class="contact__card-data">paalrahul2001@gmail.com</span>

                            <a href="mailto:paalrahul2001@gmail.com" target="_blank" class="contact__button">
                                Write Me <i class='bx bx-right-arrow contact__button-icon'></i>
                            </a>
                        </div>

                        <div class="contact__card">
                            <i class='bx bxl-whatsapp contact__card-icon'></i>
                            <h3 class="contact__card-title">Whatsapp</h3>
                            <span class="contact__card-data">+917999427635</span>

                            <a href="https://api.whatsapp.com/send?phone=+917999427635&text=Hey there!" target="_blank"
                                class="contact__button">
                                Write Me <i class='bx bx-right-arrow contact__button-icon'></i>
                            </a>
                        </div>

                        <div class="contact__card">
                            <i class='bx bxl-linkedin contact__card-icon'></i>
                            <h3 class="contact__card-title">Linkdin</h3>
                            <span class="contact__card-data">Rahul Pal</span>

                            <a href="https://www.linkedin.com/in/rahul-pal-rjit" target="_blank" class="contact__button">
                                Write Me <i class='bx bx-right-arrow contact__button-icon'></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="contact__content">
                    <h3 class="contact__title contact__title-form">Write Me your Message</h3>

                    <form action="/contact" class="contact__form" method="post">
                        <div class="contact__form-div">
                            <label for="" class="contact__form-tag">Name</label>
                            <input type="text" placeholder="Enter name" class="contact__form-input" name="nam">
                        </div>

                        <div class="contact__form-div">
                            <label for="" class="contact__form-tag">Mail</label>
                            <input type="text" placeholder="Enter email" class="contact__form-input" name="emal">
                        </div>

                        <div class="contact__form-div contact__form-area">
                            <label for="" class="contact__form-tag">Message</label>
                            <textarea name="msgs" id="" cols="30" rows="10" placeholder="Write your Message"
                                class="contact__form-input "></textarea>
                        </div>


                        <button class="button">
                            Send Message
                        </button>
                    </form>

                </div>

        </section>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">
            <h1 class="footer__title">Rahul</h1>

            <ul class="footer__list">

                <li class="footer__item">
                    <a href="#" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                    <a href="#about" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#skills" class="footer__link">Skills</a>
                </li>
                <li class="footer__item">
                    <a href="#work" class="footer__link">Work</a>
                </li>
                <li class="footer__item">
                    <a href="#contact" class="footer__link">Contact</a>
                </li>
            </ul>

            <ul class="footer__social">
                <li class="footer__social-item">
                    <a href="https://m.facebook.com/rahul.paal.900" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook footer__social-icon'></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="https://twitter.com/iRahulSinghpal" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter footer__social-icon'></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="https://www.linkedin.com/in/rahul-pal-rjit" target="_blank" class="footer__social-link">
                        <i class='bx bxl-linkedin footer__social-icon'></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="https://www.instagram.com/i_rahul_pal/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram footer__social-icon'></i>
                    </a>
                </li>
            </ul>

            <span class="footer__copy">
                &#169; 2023 Rahul. All rights reserved.
            </span>
        </div>
    </footer>

    <!--=============== SCROLLREVEAL ===============-->

    <!-- <script src="assets/js/scrollreveal.min.js"></script> -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="{{url_for('static',filename='js/swiper-bundle.min.js')}}"></script>

    <!--=============== MIXITUP FILTER ===============-->
    <script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>
